<div class="container w-50 mt-5 border border-primary">
    <div class="row">
        <div class="col">
            <form class="mt-3 p-4" action="/" method="get">
                <div class="form-group row align-middle">
                    <label for="nombre_view" class="col-sm-4 col-form-label">Your Name:</label>
                    <p class="col-sm-8 col-form-label" id="nombre_view"><%= current_form.nombre %></p>
                </div>

                <div class="form-group row align-middle">
                    <label for="dojo_view" class="col-sm-4 col-form-label">Dojo Location:</label>
                    <p class="col-sm-8 col-form-label" id="dojo_view"><%= current_form.dojo %></p>
                </div>

                <div class="form-group row align-middle">
                    <label for="language_view" class="col-sm-4 col-form-label">Favorite Language:</label>
                    <p class="col-sm-8 col-form-label" id="language_view"><%= current_form.lenguaje %></p>
                </div>

                <div class="form-group row align-middle">
                    <label for="Textarea1" class="col-sm-4 col-form-label">Comments:</label>
                    <p class="col-sm-8 col-form-label" id="Textarea1"><%= current_form.comentario %></p>
                </div>

                <div class="form-group row align-middle">
                    <div class="col-sm">
                    <button type="submit" class="btn btn-primary float-right" value="Sub">Back</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


