// Place all the styles related to the Tiempos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";
* {
    text-align: center;
}

h6 {
    display: inline-block;
    //padding: 5px 10px;
    border: 1px solid black;
}

.time {
    display: inline-block;
    margin: auto;
    padding: 5px 10px;
    border: 1px solid black;
    font-size: 40px;
    vertical-align: middle;
}